<div class="add-new-user">

    <h2>
        Create a new account!
    </h2>

    <!-- Make a new account -->
    <form class="new-account-form">

        <p>Use this form to create your account. Read each lable carefully and fill in the appropriate information. Nothing should be left blank.</p>

        <br />
        <!-- First name entry box -->
        <label for="first_name">
        First Name:
        </label>
        <br />
        <textarea id="first_name" name="first_name" rows="2" cols="30">
        {{first_name}}
        </textarea>
        <br />

        <!-- Last name entry box -->
        <label for="last_name">
        Last Name:
        </label>
        <br />
        <textarea id="last_name" name="last_name" rows="2" cols="30">
        {{last_name}}
        </textarea>
        <br />

        <!-- Username entry box -->
        <label for="user_name">
        Username:
        </label>
        <br />
        <textarea id="user_name" name="user_name" rows="2" cols="30">
        {{user_name}}
        </textarea>
        <br />

        <!-- Password name entry box -->
        <label for="pass_word">
        Password:
        </label>
        <br />
        <textarea id="pass_word" name="pass_word" rows="2" cols="30">
        {{pass_word}}
        </textarea>
        <br />

        <!-- Submit button -->
        <button type="submit_account" value="Submit">
        Make New Account
        </button>
        
    </form>
</div>

<script src="/js/UPDATETHIS.js"></script>
