<div class="post">

    <h2>
        New Post
    </h2>

    <!-- Make a new post -->
    <form class="post_form">

        <p>Create your post</p>

        <br />

        <!-- Username entry box -->
        <label for="Post">
        Please type your post here
        </label>
        <br />
        <textarea id="new_post" name="new_post" rows="10" cols="100">
        {{new_post}}
        </textarea>
        <br />

        <!-- Submit button -->
        <button type="submit" value="Submit">
        Submit
        </button>
        
    </form>
</div>

<script src="/js/UPDATETHIS.js"></script>
